# Created by venv; see https://docs.python.org/3/library/venv.html

# Môi trường ảo Python

hfo_env/
venv/
env/

# File cấu hình bảo mật

.env

# Cache của Python

**pycache**/
_.pyc
_.pyo
\*.pyd

# File hệ thống

.DS_Store
Thumbs.db
